@import './../../../variables';
.card{
    border: 1px solid $primary-blue;
    border-radius: 0px;
    .card-header{
        background-color: $primary-blue;
        color: white;
    }
    .card-header:first-child{
        border-radius: 0px;
    }
} 
.edititem-view{
    margin-bottom: 5em;
}
.btn {
    border-radius: 0px !important;
    font-weight: 300;
}
.edit-item{
    float: right;
    background-color: $primary-blue;
    border: 1px solid $primary-blue;
}
.edit-item:hover{
    background-color: white !important;
    transition: .3s all ease;
    color: $primary-blue;
}